<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkl3M-oJlRSqv0GUMHT0Ay5OFxOBwq890</string>
	<key>GCM_SENDER_ID</key>
	<string>466742095907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flbaseappdb</string>
	<key>STORAGE_BUCKET</key>
	<string>flbaseappdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466742095907:ios:02b70e47a22cc1dc084196</string>
</dict>
</plist>